/* CSS Library */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Components */

/* Boxicons */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

@import url('components/topnavbar_style.css');
@import url('components/form_style.css');
@import url('components/flash_message.css');
@import url('components/sidebar_style.css');
@import url('components/profile_style.css');
@import url('home.css');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

